# deadly_corridor.cfg
doom_scenario_path = deadly_corridor.wad
doom_skill = 1
living_reward = 0
death_penalty = 1

screen_resolution = RES_640X480
screen_format = RGB24
render_hud = true
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false

depth_buffer_enabled = true
labels_buffer_enabled = true

available_buttons = { MOVE_LEFT MOVE_RIGHT ATTACK MOVE_FORWARD MOVE_BACKWARD TURN_LEFT TURN_RIGHT }
available_game_variables = { HEALTH AMMO2 KILLCOUNT POSITION_X POSITION_Y ARMOR }

episode_timeout = 2100
episode_start_time = 14

mode = PLAYER
